.btn_container {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 10px;
}

.btn:hover {
    color: green;
    transition: 0.4s ease-in;
}

.btn:active {
    background-color: green;
    color: black;
    font-weight: bold;
    transition: 0.1s;
}